@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=ABeeZee&family=Abril+Fatface&family=Abhaya+Libre:wght@400;500;700;800&display=swap');

@theme {
  --color-dark-red: #3f060f;
  --color-cream: #fff9f1;
  --color-gold: #be9d61;
  --font-italic: 'Italiana', serif;
  --font-abee: 'ABeeZee', sans-serif;
  --font-abril: 'Abril Fatface', serif;
  --font-abhaya: 'Abhaya Libre', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-abee);
  color: var(--color-dark-red);
  background-color: #ffffff;
}
